@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

li a{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 50px;
    justify-content: center;
    display: block;
    z-index: 1;
    height: inherit;
    line-height: 10px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 25px;
    margin-bottom: 0;

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-bottom-style:solid;
    border-top-style:solid;
    border-width: 1px;
}

strong{
    font-size: 40px;
    font-family: 'Ma Shan Zheng', cursive;
    color: rgb(61, 2, 88);
    transition: all 0.3 ease 0s;
}

strong:hover{
    color:#0088a9;
}

.logo{
    cursor:pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 20px, 50px;
    margin-top: 25px;
    margin-left: 20px;
}

.nav__links li a{
    transition: all 0.3 ease 0s;
}

.nav__links li a:hover{
    color:#0088a9;
}