{% extends "system/base.html" %}
{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div>
        <p class="fs-4 text-center" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">该网站用于2022春季学期FDU数据库期中实验</p>
        <p class="fs-4 text-center" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">联系：20307130250@fudan.edu.cn</p>
        <p class="fs-4 text-center" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">github地址:
        <a href="https://github.com/Row11n/DBlab_FDu" class="fs-4 text-center" style="font-size:25px; font-family: 'Ma Shan Zheng', cursive;">https://github.com/Row11n/DBlab_FDu</a></p>
      </div>
    </div>

{% endblock content %}