{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>图书销售管理系统</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light mb-4 border" style="background-color: #99AFC6;">
        <a class="navbar-brand" style="color: #0F0B0C;font-weight: bolder;font-family: Conolas;" href="{% url 'system:home' %}">BSMS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" style="color: #86A4BE;" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'system:home' %}">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'system:books' %}">书库</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" style="color: #86A4BE;" id="navbarCollapse"> 
            <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <img class="mb border" src = "{{user.avatar.url}}" alt="{{user.username}}" style="width:40px; height: 40px;"></img>
                </li>
                <li class="nav-item">
                    <span class="navbar-brand" style="color: #293017;" > &emsp;你好，{{ user.username }}.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">注销</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Userinfo:login' %}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Userinfo:register' %}">注册</a>
                </li>
            {% endif %}
            </ul>
        </div> 
    </nav>

    {% block content %}

    {% endblock content %}

</body>


