{% extends "system/base.html" %}


{% block content %}

<div class="container p-4 offset-6-lg">
    <form name="sr" class="form-inline mt-2 mt-md-0" action="{% url 'system:books' %}" method="get">
        {% csrf_token %}
       <input class="form-control mr-sm-2" type="text" id="ISBN" placeholder="ISBN" aria-label="Search" name="search_ISBN" value={{ISBN}}>
       <input class="form-control mr-sm-2" type="text" id="name" placeholder="书籍名称" aria-label="Search" name="search_name" value={{name}}>
       <input class="form-control mr-sm-2" type="text" id="author" placeholder="作者" aria-label="Search" name="search_author" value={{author}}>
       <input class="form-control mr-sm-2" type="text" id="publisher" placeholder="出版社" aria-label="Search" name="search_publisher" value={{publisher}}>
       <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="搜索"></input>
       <button class="btn btn-outline-success my-2 my-sm-0" onclick="reset2()">重置   </button>
       <a href="{% url 'system:new_book' %}" class="btn btn-primary" style="margin-left:20px">新建图书</a>
    </form>
</div>

<div class="tab-content">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col"><span class="lead font-weight-bold">ISBN</span></th>
                <th scope="col"><span class="lead font-weight-bold">书籍名称</span></th>
                <th scope="col"><span class="lead font-weight-bold">出版社</span></th>
                <th scope="col"><span class="lead font-weight-bold">作者</span></th>
                <th scope="col"><span class="lead font-weight-bold">零售价格</span></th>
                <th scope="col"><span class="lead font-weight-bold">库存数量</span></th>
                <th scope="col"><span class="lead font-weight-bold">是否上架</span></th>
                <th scope="col"><span class="lead font-weight-bold"><a href="{% url 'system:stock' %}" class="btn btn-outline-success" style="width: 150px;">进货</a></span></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books_list %}
            <tr style="vertical-align: middle;">
                <td>{{ book.ISBN }}</td>
                <td>{{ book.name}}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.amount }}</td>
                <td>{{ book.is_active }}</td>
                <td>
                    <div style="display:flex; margin-right:auto;justify-content : center;">
                    {% if not book.is_active %}
                    <form action="{% url 'system:books' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="activate" value="1"></input>
                        <label for="1">设置售价</label>
                        <input type="text" name="price" value="{{ book.price }}"  id="1" style="width:60px"></input>
                        <input type="hidden" name="ISBN" value="{{ book.ISBN }}"></input>
                        <button class="btn btn-outline-success my-2 my-sm-0" name="submit">上架  </button>
                    </form>
                    {% endif %}
                    {% if book.is_active %}
                    <form action="{% url 'system:books' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="deactivate" value="1"></input>
                        <input type="hidden" name="ISBN" value="{{ book.ISBN }}"></input>
                        <button class="btn btn-outline-success my-2 my-sm-0" name="submit">下架  </button>
                    </form>
                    {% endif %}
                    <a href="{% url 'system:info_detail' book.id %}" class="btn btn-outline-success">
                        编辑
                    </a>
                </div>
                    {% if error_msg and wrong_ISBN == book.ISBN %}
                        {{error_msg}}
                    {% endif %}
                    
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function reset2()
    {
        $("#ISBN").val("");
        $("#name").val("");
        $("#author").val("");
        $("#publisher").val("");
    }
</script>
{% endblock content %}
