{% extends "system/base.html" %}


{% block content %}

<div class="container p-4 offset-6-lg">
    <form name="sr" class="form-inline mt-2 mt-md-0" action="{% url 'system:books' %}" method="get">
        {% csrf_token %}
       <input class="form-control mr-sm-2" type="text" id="ISBN" placeholder="ISBN" aria-label="Search" name="search_ISBN" value={{ISBN}}>
       <input class="form-control mr-sm-2" type="text" id="name" placeholder="书籍名称" aria-label="Search" name="search_name" value={{name}}>
       <input class="form-control mr-sm-2" type="text" id="author" placeholder="作者" aria-label="Search" name="search_author" value={{author}}>
       <input class="form-control mr-sm-2" type="text" id="publisher" placeholder="出版社" aria-label="Search" name="search_publisher" value={{publisher}}>
       <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="搜索"></input>
       <button class="btn btn-outline-success my-2 my-sm-0" onclick="reset2()">重置   </button>  
    </form>
</div>

<div class="tab-content">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col"><span class="lead font-weight-bold">ISBN</span></th>
                <th scope="col"><span class="lead font-weight-bold">书籍名称</span></th>
                <th scope="col"><span class="lead font-weight-bold">出版社</span></th>
                <th scope="col"><span class="lead font-weight-bold">作者</span></th>
                <th scope="col"><span class="lead font-weight-bold">零售价格</span></th>
                <th scope="col"><span class="lead font-weight-bold">库存数量</span></th>
                <th scope="col"><span class="lead font-weight-bold">操作</span></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books_list %}
            <tr style="vertical-align: middle;">
                <td>{{ book.ISBN }}</td>
                <td>{{ book.name}}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.amount }}</td>
                <td>
                    <form action="{% url 'system:bookshop' %}" method="post">
                        {% csrf_token %}
                    <input type="text" name="amount" placeholder="购买数量" style="width: 60px;">
                    <input type="hidden" name="book_ISBN" value="{{ book.ISBN }}">
                    <input type="hidden" name="price" value="{{ book.price }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input class="btn btn-outline-success" type="submit" value="加入购物车" style="width: 120px;"></input>
                    <br/>
                    {% if error_msg and book.ISBN == wrong_ISBN %}
                        {{error_msg}}
                    {% endif %}
                        
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function reset2()
    {
        $("#ISBN").val("");
        $("#name").val("");
        $("#author").val("");
        $("#publisher").val("");
    }
</script>
{% endblock content %}
