{% extends "system/base.html" %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <div class="top">
                <div class="logo">
                    <img src="/static/images/Fudan.png" alt="#" style="width: 75px;">
                </div>
                <div class="form">
                    <form method="post" action="{% url 'Userinfo:register' %}">
                    {% csrf_token %}
                    <div class="input_field">
                        <input type="text" name="username" placeholder="用户名(不少于3位，不多于18位)" class="input" maxlength=18>
                    </div>
                    <div class="input_field">
                        <input type="password" name="password1" placeholder="密码(不少于3位，不多于18位)" class="input" maxlength=18>
                    </div>
                    <div class="input_field">
                        <input type="password" name="password2" placeholder="确认密码" class="input" maxlength=18>
                    </div>
                    <div class="input_field">
                        <input type="text" name="email" placeholder="邮箱" class="input">
                    </div>
                    {% if error_msg %}
                    <p class="warning">{{ error_msg }}</p>
                    {% endif %}
                    <input type="submit" value="注册" class="button">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
